/* Styles Game.js */

.content-container {
  background: #2da2b1;
}

.editAndRounds {
  width: 100%;
}

.game-top {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
}

.hidden {
  display: none;
}

.game-title {
  text-align: center;
  font-size: 26px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 20px;
}

.game-description {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
