/* Styles Game.js */

.content-container {
  background: #2da2b1;
}

.editAndRounds {
  width: 100%;
}

.game-top {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}

.printButtons {
  display: flex;
}

.hidden {
  display: none;
}

.game-title {
  text-align: center;
  font-size: 26px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 20px;
}

.game-description {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Animation for editGameView */

.showEditGame-enter {
  max-height: 0px;
  transition: max-height 1s ease;
}

.showEditGame-enter.showEditGame-enter-active {
  max-height: 500px;
}
.showEditGame-leave {
  max-height: 500px;
}

.showEditGame-leave.showEditGame-leave-active {
  max-height: 0px;
  transition: all 1000ms ease-out;
}
