.signup-body {
  display: flex;
  flex-direction: column;
}

/* Page Layout goes: [page-name]-page, top-content (top-rightside, top-leftside), main-content (Navbar, main-middle)*/
.gameslist-page,
.billing-page,
.invoices-page,
.setting-page {
  display: flex;
  flex-direction: column;
}

.top-content {
  display: flex;
  justify-content: space-between;
  background-color: #e9ecef;
  height: 48px;
}

.top-rightside {
  margin-right: 20px;
  text-decoration: underline;
  color: blue;
}
.top-rightside:hover {
  cursor: pointer;
}

.main-content {
  display: flex;
  width: 90%;
}

.vertical-navbar {
  width: 150px;
  height: 75vh;
  background-color: #f04e39;
  height: 95vh;
}

.vertical-navbar li {
  margin-top: 10px;
  line-height: 15px;
  text-align: left;
}

.vertical-navbar:hover {
  color: black;
}

.nav-link {
  color: white;
  font-size: 18px;
}

.nav-link:hover {
  color: black;
}
.main-middle {
  margin: 0 auto;
}
.pay-main {
  margin-left: 10px;
}
.pay-input {
  margin: 0 auto;
  background: gray;
}
.pay2 {
  margin: 0 auto;
  display: flex;
}
.buy {
  width: 275px;
  height: 75px;
}
