/* Styles RoundsList.js and Rounds.js */

.topContent-round {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  border: 2px solid black;
  margin: 2%;
  padding: 2%;
  align-items: center;
}

.roundsList {
  display: flex;
  flex-flow: row wrap;
}
.rounds {
  border: 2px solid black;
  margin: 4%;
  display: flex;
  flex-flow: column;
  width: 350px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}
.rounds:hover {
  box-shadow: 1px 1px;
}
.roundsTitle {
  align-self: center;
  max-width: 75%;
}
.roundsOption {
  max-width: 20px;
}
.dropdown {
  display: flex;
  justify-content: space-between;
  margin: 2% 4% 2% 4%;
}

.dropdown label {
  font-size: 17px;
}
.dropdown select {
  font-size: 17px;
}

.select:hover {
  box-shadow: 2px 2px;
}

.select {
  max-width: 50%;
  font-size: 10px;
}

.roundsButtons {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 1% 4% 2% 4%;
}

.roundsButton {
  border-radius: 5%;
  margin: 1%;
  font-size: 12px;
}

.roundsButton:hover {
  box-shadow: 2px 2px;
  background: lightcyan;
}

.roundsButton:active {
  transform: translateY(2px);
}

.hidden {
  visibility: hidden;
}

.logo-rounds {
  max-width: 200px;
}

#newRound {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  min-height: 240px;
}

.newRound-inner {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 4%;
  opacity: 0.5;
}

.newRound-inner:hover {
  opacity: 1;
}

.rounds-speechBubble {
  position: absolute;

  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 200px;
  opacity: 0;
  animation-name: slide-up;
  animation-duration: 1s;
  z-index: 2;
}

@keyframes slide-up {
  0% {
    bottom: 0%;
    opacity: 0;
  }
  50% {
    opacity: 1;
    bottom: 30%;
  }
  90% {
    opacity: 1;
    bottom: 30%;
  }
  to {
    opacity: 0;
    bottom: 0%;
  }
}

@media print {
  .btn-primary {
    display: none;
  }
  .col1-round {
    text-align: left;
    flex-flow: column nowrap;
  }
}

/* Phone Design */
@media screen and (max-width: 480px) {
  .roundsList {
    flex-flow: column nowrap;
  }
  .topContent-round {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }
}
