/* Styles RoundsList.js and Rounds.js */

.roundsList {
  display: flex;
  flex-flow: row wrap;
}
.rounds {
  border: 2px solid black;
  margin: 4%;
  display: flex;
  flex-flow: column;
}

.roundsTitle {
  align-self: center;
  max-width: 75%;
}

.dropdown {
  align-self: flex-start;
}
.select {
  max-width: 50%;
  font-size: 10px;
}
