.profile-picture,
.uploaded-picture {
  border-radius: 50%;
  height: 250px;
}

.name,
.email {
  margin-top: 40px;
  display: flex;
  font-size: 30px;
}

.name p,
.email p {
  margin: 0;
  font-size: 30px;
}

.name div,
.email div {
  margin-right: 80px;
  margin-left: 30px;
}

.setting-content {
  text-align: left;
  width: 75%;
  margin-top: 0;
}

.setting-content h2 {
  text-align: left;
  border-bottom: 2px solid black;
}

.signinUserName,
.signinEmail,
.signinPassword,
.signinType,
.signinFree,
.signinPicture,
.signinName,
.signinUpgrade {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding: 15px 5px 15px 0;
}

.signinPassword,
.signinPicture,
.googleEmail,
.googleUpgrade {
  border: none;
}

.signinTier {
  margin-top: 30px;
}

.addPicture {
  width: 250px;
}

.save-button {
  margin-top: 20px;
}

.google-photo {
  text-align: center;
}

.setting-container {
  padding-top: 0;
}

.upload {
  display: flex;
  justify-content: center;
}

.signinUserName input,
.signinEmail input,
.signinPassword input {
  border-radius: 5px;
  padding-left: 10px;
  width: 220px;
  border: 1px solid rgb(184, 181, 181);
}

.signinUserName input,
.signinEmail input,
.signinPassword input {
  background-image: none;
  outline: 0;
}

@media screen and (max-width: 750px) {
}
